body {
    color: rgb(218, 218, 218);
    background-image: linear-gradient(
        5deg,
        hsl(0deg 0% 0%) 0%,
        hsl(0deg 30% 18%) 25%,
        hsl(307deg 39% 19%) 50%,
        hsl(253deg 23% 13%) 75%,
        hsl(0deg 0% 0%) 100%
      );
}

.section-1 {

    color: rgb(173, 173, 173);
    height: 100vh;
    font-family: 'Roboto Mono', monospace;

}
.section-2 {

    color: #dde3ed;
    height: 50vh;
    font-family: 'Eurostile Extended', sans-serif;
}
@media (max-width:771px) {
    .section-1 {
        height: 140vh;
    }
    .section-2 {
        height: 90vh;
    }
    .section-3 {
        margin-top: 100px;
    }
    h4{
        position: relative;
        left: 60px;
    }
    footer {
        margin-top: 500px;
    }
    .logo {
        position: relative;
        right: 60px;
    }
    .link {
        display: none;
    }

}
@media (max-width: 375px) {
    .section-2 {
        margin-top: 300px
    }
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    background-color: transparent;
    color: white;
    width: 100%;
    position: fixed;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important;

}
.bi-6-circle-fill {
    font-size: 36px;
}
.title {
    font-size: 40px;
}
.pesquisa {
    width: 300px;
    border-radius: 3px;
}
.card {
    color: black;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(349deg, rgba(0,0,0,1) 0%, rgba(3,9,19,1) 42%, rgba(30,34,32,1) 100%);
    border: none;

}
.desc {
    width: 0px;
    text-align: center;
    animation: tamanho 4s;
    overflow: hidden;
}
.desc::after {
    text-align: center;
    content: '|';
    margin-left: 5px;
    animation: opacidade 0.7s infinite;
}
@keyframes opacidade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes tamanho {
    from {width: 0px; text-align: center;}
    to {width: 28em; text-align: center;}
}
@keyframes contador {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #contador {
    font-size: 48px;
    animation: contador 0.1s linear;
    animation-fill-mode: forwards;
  }
.section-3 {
    height: 50vh;
}
/* @media (max-width: 900px){
    .section-3 {
        position: relative;
        top: 1000px;
    }
} */
@keyframes identifier {
    from {
        width: 0px; opacity: 0;
    }
    to {
        width: 105%; opacity: 1;
    }
}
.techs {
    border: 1px solid #453f4b;
    background: rgb(31,51,55);
background: linear-gradient(135deg, rgba(31,51,55,1) 0%, rgba(60,54,66,1) 2%, rgba(0,0,0,1) 100%);
    height: 200px;
    border-radius: 20px;
}
footer {
    height: 30vh;
}
#techs {
    animation: desloca 2s ease forwards;
}
@keyframes desloca {
    from {margin-right: 400px; opacity: 0;}
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: #1b1b1b;

    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
